#midiaContainer{
    display: flex;
    max-height: 555px;
}

#midiaTitulo{
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    margin: 30px 0 30px 47%;
    position: relative;
    display: inline-block;
}

#midiaTitulo::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 15px;
    width: 75%;
    border-bottom: 1px solid black;
}

#display{
    flex: 5;
    text-align: right;
}

#midiaList{
    flex: 4;
    overflow-y: auto;
}

#foto{
    width: 721px;
    height: 555px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    float: right;
    margin-right: 30px;
}

#midiaThumbContainer{
    display: flex;
    margin-top: 30px;
    cursor: pointer;
}

.midiaThumb{
    width: 160px;
    height: 124px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 10px;
}

.midiaThumbInfo{
    align-self: center;
}