#membrosSection{
    background-color: rgb(0 0 0 / 20%);
}

#membroTitulo{
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    margin: 30px 0 7px 47%;
    position: relative;
    display: inline-block;
}

#membroTitulo::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 15px;
    width: 75%;
    border-bottom: 1px solid black;
}

#membroContent{
    display: flex;
    justify-content: space-between;
    align-items: end;
    overflow-x: auto;
    min-height: 30vh;
}