#membrosSection{
    background-color: rgb(0 0 0 / 20%);
    overflow: hidden;
    position: relative;
}

#membroTitulo{
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    margin: 30px 0 7px 47%;
    position: relative;
    display: inline-block;
}

#membroTitulo::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 15px;
    width: 75%;
    border-bottom: 1px solid black;
}

#membroContent{
    display: flex;
    justify-content: space-between;
    align-items: end;
    overflow-x: hidden;
    height: 370px;
}

.arrowContainer{
    width: 53px;
    height: 100%;
    background: #00000038;
    position: absolute;
    z-index: 3;
    cursor: pointer;
    opacity: 1;
    pointer-events: auto;
    transition: opacity 200ms ease-in-out;
}

.arrowLeft{
    display: block;
    border-right: #00000078 solid 15px;
    border-top: transparent solid 15px;
    border-left: transparent solid 15px;
    border-bottom: transparent solid 15px;
    margin: 220px 30px 0 0;
}

.arrowRight{
    display: block;
    border-left: #00000078 solid 15px;
    border-top: transparent solid 15px;
    border-right: transparent solid 15px;
    border-bottom: transparent solid 15px;
    margin: 220px 0px 0 22px;
}

.hide{
    opacity: 0;
    pointer-events: none;
}