#eventoContainer{
    margin: 25px 10px;
}

#eventoTitulo{
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    margin: 30px 0 30px 47%;
    position: relative;
    display: inline-block;
}

#eventoTitulo::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 15px;
    width: 75%;
    border-bottom: 1px solid black;
  }

#eventoContent{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.evento{
    width: 300px;
    height: 390px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#eventoInfo{
    text-align: center;
}

#eventoInfo p{
    margin: 5px 0;
}