#membroContainer{
    margin: 25px 70px;
    position: relative;
    cursor: pointer;
}

#membroContainer:hover:not(:has(.redeSocial:hover)) > .membro {
    box-shadow: inset 0px 0px 45px 20px rgba(0, 0, 0, 0.7);

}

.membro{
    width: 200px;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 100%;
    transition: filter 500ms;
    position: relative;
    z-index: 2;
}

#membroInfo{
    text-align: center;
}

#membroInfo p{
    margin: 5px 0;
}

.redeSocial{
    position: absolute;
    top: 25%;
    right: 35%;
    cursor: default;
    animation-duration: 300ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

/* Facebook */
.animacaoMoverFacebook {
    animation-name: moverFacebook;
}
.animacaoVoltarFacebook {
    animation-name: voltarFacebook;
}

/* Instagram */
.animacaoMoverInstagram {
    animation-name: moverInstagram;
}
.animacaoVoltarInstagram {
    animation-name: voltarInstagram;
}

/* Twitter */
.animacaoMoverTwitter {
    animation-name: moverTwitter;
}
.animacaoVoltarTwitter {
    animation-name: voltarTwitter;
}

/* Facebook */
@keyframes moverFacebook {
    0% { top: 25%; right: 35%; }
    90% { top: -18%; right: 88%; }
    100% { top: -12%; right: 82%; }
}

@keyframes voltarFacebook {
    0% { top: -12%; right: 82%; }
    10% { top: -18%; right: 88%; }
    100% { top: 25%; right: 35%; }
}

/* Instagram */
@keyframes moverInstagram {
    0% { top: 25%; right: 35%; }
    90% { top: -32%; right: 38%; }
    100% { top: -26%; right: 38%; }
}

@keyframes voltarInstagram {
    0% { top: -26%; right: 38%; }
    10% { top: -32%; right: 38%; }
    100% { top: 25%; right: 35%; }
}

/* Twitter */
@keyframes moverTwitter {
    0% { top: 25%; right: 35%; }
    90% { top: -24%; right: -14%; }
    100% { top: -15%; right: -8%; }
}

@keyframes voltarTwitter {
    0% { top: -15%; right: -8%; }
    10% { top: -22%; right: -12%; }
    100% { top: 25%; right: 35%; }
}